@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc
@using Sitecore.Links;
@using Glass.Mapper.Sc.Web.Mvc

@{
    Layout = null;
    var currentItem = Sitecore.Context.Item;
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
</head>
<body>
    <div class="page-wrapper">
        <header class="fixed-top">
            @Html.Sitecore().Placeholder("header")
        </header>
        <main role="main" id="fullpage">
            @Html.Sitecore().Placeholder("main")
        </main>
        <footer>
            @Html.Sitecore().Placeholder("footer")
        </footer>
    </div>
</body>
</html>
