@using Sitecore.Data.Items;
@using System.Collections.ObjectModel;
@using System.Diagnostics;
@using System.Reflection;
@using System.Diagnostics
@using System.Globalization;
@using System.Linq
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;
@using Sitecore.Links;
@Item item; 
@{var link = LinkManager.GetItemUrl(item); }

<div class="col-md-6 col-lg-4 wow customfadeInUp " data-wow-delay="0.2s" data-wow-duration="1s">
    <div class="box-with-image avatar-img-wrap" id="imgBox1">
        <a href="@link" class="stretched-link">@item.Name</a>

        <img height="361" width="370" class="divImg" src="/img/0.gif" style="background-image: url('/-/media/images/home-page/news-grid/news-and-insights-1.jpg?h=708&amp;w=538&amp;hash=C498BF98CD827C78555848341342D136');" alt="image">
        <h6>@Html.Sitecore().Field("PageTitle", item)</h6>
        <h5>@Html.Sitecore().Field("DescriptionMore", item)</h5>
        <div class="avatar-div">

        </div>
    </div>

</div>