@using System;
@using Sitecore;
@using Sitecore.Data.Items;
@using System.Collections.ObjectModel;
@using System.Diagnostics;
@using System.Reflection;
@using System.Diagnostics
@using System.Globalization;
@using System.Linq
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;
@model List<Item>
    <div class="booklist">
        <style>


            .list-container .list-item .list-image {
                background-repeat: no-repeat;
                background-position: center;
                object-fit: contain;
                height: 150px;
            }



            .page-wrapper form .form-group.m-0 {
                width: 100%;
                display: flex;
            }
        </style>

        <form>
            <div class="form-group m-0">
                <input class="form-control" name="search" id="fieldSearch" type="text" value="">

                <input type="submit" class="submit-btn">
            </div>
        </form>

        @if (Model != null)
        {

            <div class="section cmn-box-img-bg hp-cmn-boxes">
                <div class="container">
                    <div class="row awards-recognition-boxes wow customfadeInUp" data-wow-delay="1s">
                        <div class="col-12 m-0">
                            <h2>Books</h2>
                        </div>
                    </div>
                    <div class="row list-container wow customfadeInUp" data-wow-delay="1s">
                        @foreach (var bookitem in Model)
                        {

                            var url = Sitecore.Links.LinkManager.GetItemUrl(bookitem);


                            <div class="list-item col-md-6 col-lg-4 wow customfadeInUp " data-wow-delay="0.2s" data-wow-duration="1s">
                                <div class="box-with-image avatar-img-wrap" id="imgBox1">
                                    @{
                                        Sitecore.Data.Fields.ImageField imageField = bookitem.Fields["Detail Photo"];
                                        string imageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageField.MediaItem);
                                        string description = bookitem.Fields["DescriptionMore"].Value;
                                    }
                                    <img height="200" width="300" class="divImg list-image" src="@(Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageField.MediaItem))" alt="image">
                                    <div class="image_detail">
                                        <h2>@Html.Sitecore().Field("PageTitle", bookitem)</h2>
                                        <h4>@description.Substring(0, 200);</h4>
                                        <a href="@url">View More</a>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>

                </div>
            </div>
        }
    </div>
